@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    height: 100%;
    margin: 10;
    flex-direction: column;
}

.header {
    color: #fff;
    justify-content: center;
    display: flex;
    z-index: 2;
    border-radius: 25px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a{
    font-size: 1.1em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 100px;
    position: relative;
}

.nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav a:hover::after{
    transform-origin: right;
    transform: scaleX(1);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.article {
    background-color: rgb(109, 107, 107); /* Fallback color */
    background-color: rgba(109, 107, 107, 0.7); /* Black w/opacity/see-through */
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.footer {
    background-color: rgb(109, 107, 107); /* Fallback color */
    background-color: rgba(109, 107, 107, 0.7); /* Black w/opacity/see-through */
    display: flex;
    text-align: center;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    border-radius: 25px;
}
