@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body, html {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: Poppins;
    height: 100%;
    margin: 10;
}

.header {
    background-color: cadetblue;
    display: flex;
    opacity: 0.7;
    z-index: 2;
    border-radius: 25px;
}

.nav {
    background-color: rgb(14, 49, 102);
    background-color: rgb(14, 49, 102, 0.7);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 8px;
    margin-bottom: 8px;
    z-index: 2;
    border-radius: 25px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.article {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    border-radius: 25px;
    color: rgb(255, 255, 255);
}

.footer {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex;
    text-align: center;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    border-radius: 25px;
}
